.hompage-body{
    max-width: var(--width-container);
    margin: auto;
}

.titulo-productos-servicios{
    border-left: 10px solid var(--primary-color);
    padding-left: 15px;
    text-align: left;
    /* margin-left: 50px; */
    font-weight: 600;
    font-size: 30px;
}

.barra-diagonal{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 30%;
    height: 300%;
    background: #fafafa;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(
45deg);
    -webkit-transform: translate(-50%,-50%) rotate(
45deg);
}

@media (max-width:700px){
    .titulo-productos-servicios{
        padding-left: 15px;
        margin-left: 0;
    }
}