.login-admin-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-admin-page .form-login{
    max-width: 400px;
    background: var(--white-color);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px -20px black;
}

.login-admin-page  .form-login .form-label{
    text-align: left;
}

.login-admin-page .form-login .form-input{
    width: 100%;
}

.login-admin-page .form-login .title-iniciar-sesion{
    font-size: 24px;
    color: var(--primary-color);
}

.login-admin-page .form-login .row{
    margin-top: 20px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}