.formulario-compra .row{
    padding: 0;
    justify-content: space-between;
    margin: auto auto 10px auto;
}

.formulario-compra .grupo-botones{
    display: flex;
    padding-top:10px;
    gap:10px;
    flex-direction: column;
}