.login-modal .modal-content{
    max-width: 480px;
    margin: auto;
}

.login-modal .modal-header{
    background: var(--primary-color) !important;
    color: white;
}

.login-modal .modal-body{
    padding: 30px !important;
}