
.lista-servicios{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-servicios .servicios{
    height:fit-content;
    overflow:hidden;
    white-space: nowrap;
    padding: 20px;
    text-align: center;
}
.lista-servicios .btn-scroll{
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    z-index: 10;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media (max-width:575px) {
    .lista-servicios .servicios{
        overflow:auto;
    }
    .lista-servicios .btn-scroll{
        display: none;
    }
}