.resenia{
    border-radius: 10px !important;
    box-shadow: 0px 5px 30px -15px black;
    margin-bottom: 20px;
}
.resenia .nombre-usuario {
    font-size: 21px;
    color: var(--primary-color);
    font-weight: 700 !important;
    display: flex;
    align-items: center;
}
.resenia .card-text{
    font-size: 14px;
    display: flex;
    align-items: center;
}
.resenia .card-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.resenia .card-fecha{
    font-size: 14px;
    float: right;
}

.resenia .card-body{
    height: fit-content;
}

.resenia .card{
    height: fit-content;
}