.img-carousel{
    width: 100% !important;
    height: 200px !important;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-radius: 10px;
    background-size: cover;
    
}

.home-carrusel{
    padding-bottom:30px;
 
}

.home-carrusel .carrusel{
    box-shadow: 0px 10px 40px -10px black;
    border-radius: 10px !important;
    
}

.home-carrusel .carousel-caption{
    /* box-shadow: 10px 0px 20px black inset; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    text-shadow: 1px 1px 8px black;
    backdrop-filter: blur(10px) brightness(0.7);
    /* background-color: var(--primary-color) ; */
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 15px;
    
    /* background: rgba(0, 0, 0, 0.568); */
}

.home-carrusel .carousel-control-next{
    background: linear-gradient(270deg, black, transparent 80%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.home-carrusel .carousel-control-next:hover{
    opacity: .7;
}
.home-carrusel .carousel-control-next:focus{
    opacity: .7;
}

.home-carrusel .carousel-control-prev{
    background: linear-gradient(90deg, black, transparent 80%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.home-carrusel .carousel-control-prev:hover{
    opacity: .7;
}
.home-carrusel .carousel-control-prev:focus{
    opacity: .7;
}

@media (max-width:575px) {
    .home-carrusel .carrusel{
        border-radius: 0 !important;
    }
    .img-carousel{
        border-radius: 0 !important;
    }
    .home-carrusel .carrusel{
        border-radius: 0 !important;
    }
    .home-carrusel .carousel-caption{
        max-width: 70vw;
        max-height: 20vh;
    }
    .home-carrusel .carousel-caption h3{
        text-align: left;
        text-shadow: 0px 0px 10px black;
        font-weight: bold;
        font-size: 20px;

    }
    .home-carrusel .carousel-caption p{
        text-align: left;
        padding: 0px;
        text-shadow: 0px 0px 10px black;
        font-size: 12px;
    }
    
}