.img-carousel{
    width: 100% !important;
    height: 150px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.home-carrusel{
    padding-bottom:30px;
}

.home-carrusel .carrusel{
    box-shadow: 0px 10px 40px -10px black;
    border-radius: 10px !important;
}

.home-carrusel .carousel-caption{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
}

@media (max-width:575px) {
    .home-carrusel .carrusel{
        border-radius: 0 !important;
    }
    .img-carousel{
        border-radius: 0 !important;
    }
    .home-carrusel .carrusel{
        border-radius: 0 !important;
    }
    
}