.caja-container-box{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(15,50px);
}

.item-productos-carrito{
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    grid-row: 1/10;
    grid-column: 4/5;
    height: 100%;
    overflow-y: auto;
}

.item-form-factura{
    grid-row: 0/10;
    grid-column: 1/4;
    height: max-content;
    padding-right: 20px;
}

.item-btn-pagar{
    grid-row: 10/11;
    grid-column:4/5 !important;
    margin-top: 15px;
    float: right !important;
    align-items: right;
    align-items: right;
}

.total-caja{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color:var(--primary-color);
}
