.title-factura{
    font-size: 26px;
    font-weight: bold;
    float: left !important;
    margin-bottom: 25px;
    margin-right: 15px;
}

.input-formulario{
    margin-top: 15px;
}

.contenedor-envios{
    white-space: nowrap;
}

.inline{
    display: flex;

}

.contenedor-envios .checkbox{
    margin-right: 20px;
}

@media (max-width:575px) {
    .input-formulario{
        width: 100%;
        padding: 0;
    }
}