


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
/* :root{
    --primary-color:#c4004e;
    --secondary-color:#f06292;
    --tertiary-color:#f8bbd0;
    --light-color:#fce4ec;
    --dark-color:#880e4f;
    --white-color:#fff;
    --black-color:#000;
    --light-grey:#e2e2e2;
} */
:root{
    --primary-color:#db9600;
    --secondary-color:#f1b636;
    --tertiary-color:#f0c059;
    --light-color:#ffe4d0;
    --dark-color:#793400;
    --white-color:#fff;
    --black-color:#000;
    --light-grey:#e2e2e2;
    --width-container:1329px;
}

@media (max-width:575px) {
    :root{
        --width-container:1329px;
    }
}

html{
    scroll-behavior: smooth;
}
body{
    /* width: 100vw; */
    min-height: 100vh;
    background: linear-gradient(360deg,var(--light-grey),var(--white-color) 50%);
    /* background: rgb(255, 255, 255); */

}
*{
    font-family: 'Montserrat', sans-serif !important;
}

.home-navbar{
    background-color:var(--primary-color);
}

.btn{
    padding: 5px 10px;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    outline:none;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color) !important;
    outline:none;
    box-shadow: none;
}

.btn-primary:active {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    outline:none;
    box-shadow: none !important;
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    outline:none;
    box-shadow: 0px 0px 0px 4px var(--tertiary-color);
}
.form-control{
    outline: var(--light-color) !important;
    border:3px solid var(--light-color) !important;
    
}
.form-control:focus{
    outline:none !important;
    border:3px solid var(--secondary-color) !important;
    box-shadow: 0px 0px 5px 2px var(--tertiary-color);
}

.nav-tabs .nav-link{
    color:var(--dark-color) !important;
}
.nav-tabs .nav-link.active{
    color:var(--primary-color) !important;
}

.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.form-check-input:checked {
    transition: all 0.3s;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-input:focus {
    transition: all 0.3s;
    box-shadow: 0 0 0 0.25rem var(--tertiary-color);
}
.form-control{
    outline: var(--light-color) !important;
    border:3px solid var(--light-color) !important;
    
}
.form-select{
    outline: var(--light-color) !important;
    border:3px solid var(--light-color) !important;
}
.form-select:focus {
    outline:none !important;
    border:3px solid var(--secondary-color) !important;
    box-shadow: 0px 0px 5px 2px var(--tertiary-color);
}

.full-width{
    width: 100% !important;
}
